openapi: 3.0.2
info:
  title: SheepStand
  description: 'Internal API for SheepStand.com'
  version: '1.0.0'
servers:
  - url: https://sheepstand.com/api
paths:
  /logout:
    post:
      tags:
        - auth 
      responses:
        200:
          description: OK
  /login:
    post:
      tags:
        - auth
        - guest
      security: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
        - name: password
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer

  /user:
    get:
      summary: Get currently authenticated user
      tags: 
        - user
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/User'
                - properties:
                    roles:
                      $ref: '#/components/schemas/CombinedRoles'
                    marriage_mate:
                      $ref: '#/components/schemas/User'
                    user_availabilities:
                      type: array
                      items:
                        $ref: '#/components/schemas/UserAvailability'
                    user_vacations:
                      type: array
                      items:
                        $ref: '#/components/schemas/UserVacation'
                    teams:
                      type: array
                      items:
                        $ref: '#/components/schemas/Team'
  /user/{id}/roles:
    get:
      summary: Returns user's current roles
      tags:
        - security
        - user
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  roles:
                    $ref: '#/components/schemas/CombinedRoles'
    post:
      summary: Sets user's current roles
      tags:
        - security
        - user
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: integer
        - name: role
          in: query
          required: true
          schema:
            type: string
            example: publisher
        - name: changetype
          in: query
          required: true
          schema:
            type: string
            description: add, remove, sync
        - name: team_id
          in: query
          schema:
            type: integer
            description: null for global roles
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  roles:
                    $ref: '#/components/schemas/CombinedRoles'
  /users:
    get:
      summary: Show all users (superadmin only)
      tags:
        - user
        - superadmin
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/User'
                - properties:
                    site_roles:
                      type: array
                      items:
                        type: string
                        description: List of user's global site roles
                        example:
                          'translator'
                    marriage_mate:
                      $ref: '#/components/schemas/User'
                    languages:
                      type: array
                      description: Allowed translation languages
                      items:
                        $ref: '#/components/schemas/Language'
  /users/{role}:
    get:
      summary: Show all users with specified role type
      tags:
        - user
        - superadmin
        - security
      parameters:
        - name: role
          in: path
          required: true
          description: Role name
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/User'
                  - properties:
                      languages:
                        type: array
                        description: Allowed translation languages
                        items:
                          $ref: '#/components/schemas/Language'
  /roles:
    get:
      summary: Returns all site roles
      tags:
        - security
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Role'
                  - properties:
                      permissions:
                        type: array
                        description: Attached permissions
                        items:
                          $ref: '#/components/schemas/Permission'
  /account/profile:
    patch:
      summary: Update profile
      tags:
        - user
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  roles:
                    $ref: '#/components/schemas/User'
  /account/password:
    patch:
      summary: Update password
      tags:
        - user
        - profile
      parameters:
        - name: user
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/User'
        - name: password
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  roles:
                    $ref: '#/components/schemas/User'
  /account/availability:
    get:
      summary: Returns weekly availability for authenticated user
      tags:
        - user
        - profile
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAvailability'
    post:
      summary: Sets weekly availability
      tags:
        - user
        - profile
      parameters:
        - name: user_id
          in: query
          description: Optional. Will use authenticated user.
          required: false
          schema:
            type: integer
        - name: availability
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserAvailability'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAvailability'
  /account/availability/default:
    post:
      summary: Sets all user availability according to request (all/none)
      tags:
        - user
        - profile
      parameters:
        - name: user_id
          in: query
          description: Optional. Will use authenticated user.
          required: false
          schema:
            type: integer
        - name: default
          in: query
          required: true
          schema:
            type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAvailability'
  /account/vacation:
    get:
      summary: Returns vacation schedule for authenticated user
      tags:
        - user
        - profile
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserVacation'
    post:
      summary: Adds vacation period
      tags:
        - user
        - profile
      parameters:
        - name: date_start
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: date_end
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: note
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserVacation'
  /account/vacation/{id}:
    delete:
      summary: Deletes vacation period
      tags:
        - user
        - profile
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserVacation'
  /account/fts:
    post:
      summary: Changes FTS status
      tags:
        - user
        - profile
      parameters:
        - name: user_id
          in: query
          required: false
          description: Optional. Will use authenticated user.
          schema:
            type: integer
        - name: status
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /account/marriage:
    post:
      summary: Changes marriage mate
      tags:
        - user
        - profile
      parameters:
        - name: team_id
          in: query
          required: true
          schema:
            type: integer
        - name: mate1_id
          in: query
          required: true
          schema:
            type: integer
        - name: mate2_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /account/driver:
    post:
      summary: Changes driver status
      tags:
        - user
        - profile
      parameters:
        - name: user_id
          in: query
          required: false
          description: Optional. Will use authenticated user.
          schema:
            type: integer
        - name: status
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /teams/jointeam:
    post:
      summary: Join an existing team
      tags:
        - team
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: integer
        - name: user_code
          in: query
          required: false
          schema:
            type: string
        - name: team_id
          in: query
          required: true
          schema:
            oneOf:
              - type: string
              - type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      team:
                        $ref: '#/components/schemas/Team'
                      teams:
                        type: array
                        items:
                          $ref: '#/components/schemas/Team'
                      user:
                        $ref: '#/components/schemas/User'
  /teams/leaveteam:
    post:
      summary: Remove user from team
      tags:
        - team
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: integer
        - name: team_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
  /teams/{id}/resetcode:
    get:
      summary: Change a team's unique code
      tags:
        - team
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /teams/{code}/findteam:
    get:
      summary: Find a team by code
      tags:
        - team
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      message:
                        type: string
                      team:
                        $ref: '#/components/schemas/Team'
                      user:
                        $ref: '#/components/schemas/User'
  /teams/{id}/users:
    get:
      summary: Return all team members
      tags:
        - team
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/User'
                - properties:
                    shifts_30days:
                      type: integer
                    shifts_14days:
                      type: integer
                    shifts_7days:
                      type: integer
                    team_role:
                      type: string
                      example: 'publisher'
                    marriage_mate:
                      $ref: '#/components/schemas/User'
                    shifts:
                      type: array
                      description: All user's shifts
                      items:
                        $ref: '#/components/schemas/Shift'

components:
  schemas:
    NotificationSettings:
      type: object
      properties:
        id:
          type: integer
          format: int64  
        team_id:
          type: integer
          format: int64
        telegram_channel_id:
          type: string
        telegram_access_hash:
          type: string
        telegram_group_link:
          type: string
        setting_notify_trade_requests:
          type: boolean
        setting_notify_trade_filled:
          type: boolean
        setting_notify_schedule_open:
          type: boolean
        setting_notify_schedule_closed:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CombinedRoles:
      type: object
      properties:
        TEAMID:
          type: array
          items:
            type: string
          example: 'publisher'
          description: Each user team has team id as key and contains the user's role as string
        global:
          type: array
          items:
            type: string
          example: 'translator'
    Language:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
          example: 'sr'
        name:
          type: string
          example: "Serbian"
        native_name:
          type: string
          example: "srpski"
        site_language:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Location:
      type: object
      properties:
        id:
          type: integer
          format: int64
        team_id:
          type: integer
          format: int64
        name:
          type: string
        color_code:
          type: string
        map:
          type: string
        default: 
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Permission:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: 'view_shifts'
        display_name:
          type: string
          example: 'View and apply for shifts'
        description:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Role:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: 'publisher'
        display_name:
          type: string
          example: 'Publisher'
        description:
          type: string
        global:
          type: boolean
          description: true = global, false = team
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Schedule:
      type: object
      properties:
        id:
          type: integer
          format: int64
        team_id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        status:
          type: integer
        date_start:
          type: string
          format: date-time
        template_name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        team:
          $ref: '#/components/schemas/Team'
    Shift:
      type: object
      properties:
        id:
          type: integer
          format: int64
        schedule_id:
          type: integer
          format: int64
        location_id:
          type: integer
          format: int64
        time_start:
          type: string
          format: date-time
        time_end:
          type: string
          format: date-time
        min_participants:
          type: integer
        max_participants:
          type: integer
        mandatory:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        schedule:
          $ref: '#/components/schemas/Schedule'
        location:
          $ref: '#/components/schemas/Location'
    Team:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: '000000000000'
          description: Random number used for roles
        display_name:
          type: string
          example: 'Team Name'
        description:
          type: string
        code:
          type: string
        user_id:
          type: integer
          format: int64
          description: Team Owner
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        setting_shift_request_autoapproval:
          type: boolean
        setting_shift_assignment_autoaccept:
          type: boolean
        default_participants_min:
          type: integer
        default_participants_max:
          type: integer
        default_shift_minutes:
          type: integer
        setting_shift_trade_autoapproval: 
          type: boolean
        language:
          type: string
          example: 'en'
          description: ISO 639-1 (2-digit)
        notificationsettings:
          $ref: '#/components/schemas/NotificationSettings'
    TeamUser:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
        team_id:
          type: integer
          format: int64
        default_team:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        email:
          type: string
        email_verified_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time      
        updated_at:
          type: string
          format: date-time
        gdpr_consent:
          type: string
          format: date-time
        user_code:
          type: string
        fts_status:
          type: integer
        driver:
          type: boolean
        mate_id:
          type: integer
        photo_url:
          type: string
    UserAvailability:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
        day_of_week:
          type: integer
          format: int64
        start_time:
          type: string
          description: HH:MM:SS
        end_time:
          type: string
          description: HH:MM:SS
        available:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    UserVacation:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        date_start:
          type: string
          format: date
        date_end:
          type: string
          format: date
        note:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    oauth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://sheepstand.com/oauth
          scopes:
            full: Full API access
security:
  - bearerAuth: []
  - oauth: []