// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

// Colors
$color-primary: rgb(48, 61, 75); //dark blue
$color-secondary: rgb(177, 161, 140); //gold
$color-light: rgb(250, 250, 250); //off-white
$color-grey: rgb(78, 91, 105); //grey
$color-lightblue: rgb(68, 104, 143); //light blue
