// Custom app css classes here

.btn-primary {
  background-color: $color-primary;
}
.btn-primary:hover {
  background-color: $color-grey;
}

.btn-secondary {
  background-color: $color-secondary;
}
.btn-secondary:hover {
  background-color: $color-grey;
}


.inline-link-sm {
  text-decoration: none;
  color: $color-lightblue;
  font-size: .9em;

  &:hover {
    text-decoration: none;
    color: $color-primary;
  }
}

.text-uppercase {
  text-transform: uppercase;
}




// BOOTSTRAP Overrides

.col-form-label {
  font-weight: 600;

  &-plain {
    @extend .col-form-label;
    font-weight: normal;
  }
}

label {
  margin-bottom: 0;
}


